* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #78c1f3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: #fff;
  padding: 25px;
  width: 450px;
  border-radius: 15px;
  text-align: center;
}
#stopwatchDuration {
  font-size: 55px;
  color: #000;
}
.lapbutton {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.lapbutton button {
  height: 45px;
  width: 25%;
  border-radius: 5px;
  background-color: #78c1f3;
  border: none;
  outline: none;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}
#laps {
  height: 200px;
  padding: 10px;
  overflow: auto;
}
#laps li {
  font-size: 22px;
  padding: 10px;
}
#stopbtn,
#reset {
  background: #f44336;
}
